@model List<QuickPic.Web.Models.ResultViewModel>

<div class="row pt-3">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Respondents Weight</th>
                    <th>Expectation Gap</th>
                    <th>Accuracy</th>
                    <th>Manager's Weight</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr>
                        <td>@result.Question</td>
                        <td>@result.RespondentWeight</td>
                        <td>@result.ExpectationGap</td>
                        <td>@result.Accuracy</td>
                        <td>@result.ManagersWeight</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>